.container {
  display: flex;
  height: 100vh;
}

.leftbar {
  width: 180px;
  background-image: url('/textures/leather.png');
  background-repeat: repeat;
  background-size: auto;
  color: whitesmoke;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.middle {
  flex: 1;
  background-image: url('/textures/seamless_paper_texture.png');
  background-repeat: repeat;
  background-size: auto;
  color: Black;
  font-weight: 600;
  font: Geneva;
  width: 1335px;
}
.txtbox {
  background-image: url('/textures/txtbox.png');
  background-repeat: repeat;
  background-size: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  width: 1308px;
}
